<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <h1>서비스 등록</h1>
    </div>
    <form action="/simple/serviceInfo" method="post">
        <div class="col-lg-3" th:object="${dbInfo}">
            <label for="dbInfo">DB 지정</label>
            <select class="form-control" id="dbInfo" name="dbInfo">
                <option value="">데이터베이스를 선택하세요</option>
                <option th:each="database : ${dbInfo}"
                        th:value="${database.dbConnIp}"
                        th:text="${database.dbConnIp}+' : '+${database.dbId}"></option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="serviceId">서비스 ID</label>
            <input type="text" id="serviceId" name="serviceId" placeholder="서비스 ID를 입력하세요">
        </div>
        <br>
        <div class="form-group">
            <label for="serviceDetail">서비스 설명</label>
            <input type="text" id="serviceDetail" name="serviceDetail" placeholder="서비스 설명 입력하세요">
        </div>
        <br>
        <div class="form-group">
            <label for="bulkQuery">Bulk Query</label>
            <input type="text" id="bulkQuery" name="bulkQuery" placeholder="Bulk Query를 입력하세요">
        </div>
        <br>
        <input type='submit' value='등록하기'>
    </form>
    <br><br>
    <div>
        <p>
            <a href="/">홈으로 이동</a>
            <br>
            <a href="/simple/serviceInfo"> 데이터베이스 정보 등록 page</a>
            <br>
            <a href="/"> 색인 조회 page</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>