<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>서비스 등록</title>
    <script src="/js/includeHTML.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>
<body>
<nav include-html="/html/nav.html"></nav>
<div class="container">
    <br>
    <div>
        <h2>서비스 등록</h2>
    </div>
    <form class="form-horizontal" action="/simple/serviceInfo" method="post">
        <div class="form-group" th:object="${dbInfo}">
            <label class="control-label col-sm-2" for="dbInfo">DB 지정</label>
            <select class="form-control" id="dbInfo" name="dbInfo">
                <option value="">데이터베이스 지정</option>
                <option th:each="database : ${dbInfo}"
                        th:value="${database.dbConnIp}"
                        th:text="${database.dbConnIp}+' : '+${database.dbId}"></option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="serviceId">서비스 ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="serviceId" name="serviceId" placeholder="서비스 ID를 입력하세요">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="serviceDetail">서비스 설명</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="serviceDetail" name="serviceDetail" placeholder="서비스 설명 입력하세요">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="bulkQuery">Bulk Query</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="bulkQuery" name="bulkQuery" placeholder="Bulk Query를 입력하세요">
            </div>
        </div>
        <br>
        <input type='submit' value='등록하기'>
    </form>
</div> <!-- /container -->
</body>
<script>
    includeHTML();
</script>
</html>