<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/search/new" method="post">
        <div class="form-group">
            <label for="db_info">접속한 DB 정보</label>
            <input type="text" id="db_info" name="db_info" placeholder="이건 db 인포임">
        </div>
        <div class="form-group">
            <label for="service_id">서비스 ID</label>
            <input type="text" id="service_id" name="service_id" placeholder="서비스 ID를 입력하세요.">
        </div>
        <button type="submit">중복 확인</button>
        <div class="form-group">
            <label for="service_detail">서비스 설명</label>
            <input type="text" id="service_detail" name="service_detail" placeholder="서비스 설명을 입력하세요.">
        </div>

        <div class="form-group">
            <label for="bulk_query">Bulk Query</label>
            <input type="text" id="bulk_query" name="bulk_query" placeholder="Query를 입력하세요.">
        </div>

    </form>
</div> <!-- /container -->
</body>
</html>