<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/board.css">
</head>

<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>서비스 등록</h2>
            <p class="lead">서비스를 등록하세요👋 </p>
        </div>

        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Form</h4>
            <form class="needs-validation" novalidate th:action="@{/signup}" method="POST">

                <div class="mb-3">
                    <label for="service_id">서비스 ID</label> 
                    <input type="text" class="form-control" id="service_id" placeholder="" value="" required name="service_id">
                </div>

                <div class="mb-3">
                    <label for="service_explain">서비스 설명</label>
                    <input type="text" class="form-control" id="service_explain" placeholder="서비스 설명" name="service_explain">
                </div>

                <div class="mb-3">
                    <label for="bulk_query">Bulk Query</label> <input type="text" class="form-control" id="bulk_query" placeholder="query를 작성하세요" required name="bulk_query">
                    <div class="invalid-feedback"></div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">가입하기</button>
                <hr class="mb-4">

                <footer th:replace="/fragments/semantic :: footer"></footer>
            </form>
        </div>

    </div>

</body>

</html>